/* Reset and base styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.3em;
}

.subtitle {
    font-size: 1.2em;
    font-weight: 400;
    color: #555;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* Media query for mobile devices (screen width 768px or less) */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8em; /* Smaller font size for mobile */
    }

    .subtitle {
        font-size: 1em; /* Adjust subtitle font size for mobile */
    }
}
/* Table styles */
.table {
    background-color: #ffffff;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure table takes full width */
}

.table th, .table td {
    color: #34495e;
    padding: 15px;
    vertical-align: middle;
}

.table th {
    background-color: #ecf0f1;
}

.table td {
    background-color: #fdfefe;
    font-weight: normal;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

/* Ensure the table is responsive on mobile */
.table-responsive {
    width: 100%;
    overflow-x: auto;  /* Horizontal scroll if needed */
    -webkit-overflow-scrolling: touch;  /* Smooth scrolling on iOS */
}

.table th, .table td {
    word-wrap: break-word; /* Prevent text overflow */
    white-space: nowrap;   /* Force content to stay in one line */
}

@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px;   /* Adjust font size for small screens */
        padding: 8px;       /* Reduce padding for better fit */
    }
}


/* Button styles */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: 0 4px #999;
    color: #ffffff;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:active {
    background-color: #1e7e34;
    border-color: #1c7430;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    margin-top: 50px;
}

.text-center {
    margin-top: 10px;
    margin-bottom: 10px;
}
