/* Reset and base styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

h1 {
    color: #2c3e50;
    font-weight: bold;
    margin-top: 20px;
}

/* Table styles */
.table {
    background-color: #ffffff;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure table takes full width */
}

.table th, .table td {
    color: #34495e;
    padding: 15px;
    vertical-align: middle;
}

.table th {
    background-color: #ecf0f1;
}

.table td {
    background-color: #fdfefe;
    font-weight: normal;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

/* Button styles */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: 0 4px #999;
    color: #ffffff;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:active {
    background-color: #1e7e34;
    border-color: #1c7430;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    margin-top: 10px; /* Adjust top margin for the button */
    margin-bottom: 10px; /* Adjust bottom margin for the button */
}

/* Footer styles */
footer {
    margin-top: 50px; /* Adjust this value as needed */
}

.text-center {
    margin-top: 10px; /* Adjust top margin for the button */
    margin-bottom: 10px; /* Adjust bottom margin for the button */
}
